:root {
  --turquesa: #1abc9c;
  --azul: #3498db;
  --gris-palido: #ecf0f1;
  --naranja-suave: #ffc86f;
  --blanco: #f8f9fa;
  --negro: rgb(56, 56, 56);
  --turquesa-2: #1abc9ca2;
  --naranja-suave-2: #ffc86f8a;
  --vue-color: #49ff58;
  --verde-oscuro: rgb(0, 104, 38);
  --color-primary: var(--azul);
  --color-secundary: var(--turquesa);
  --color-text: rgb(0, 0, 0);
  --color-background: var(--blanco);
  --link-color: var(--blanco);
  --link-hover: var(--naranja-suave);
  --selection-color: var(--gris-palido);
  --selection-background: var(--turquesa-2);
  --vue-text: var(--vue-color);
}

[data-theme='dark'] {
  --turquesa: #1abc9c;
  --azul: #3498db;
  --gris-palido: #ecf0f1;
  --naranja-suave: #ffc86f;
  --blanco: #f8f9fa;
  --negro: rgb(56, 56, 56);
  --turquesa-2: #1abc9ca2;
  --naranja-suave-2: #ffc86f8a;
  --vue-color: #49ff58;
  --verde-oscuro: rgb(0, 104, 38);
  --color-primary: var(--azul);
  --color-secundary: var(--naranja-suave);
  --color-text: var(--blanco);
  --color-background: var(--negro);
  --link-color: var(--negro);
  --link-hover: var(--turquesa);
  --selection-color: var(--gris-palido);
  --selection-background: var(--naranja-suave-2);
  --vue-text: var(--verde-oscuro);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
