@import './base.css';

.color-turquesa {
    color: #1ABC9C;
}

.color-azul {
    color: #3498DB;
}

.color-gris-palido {
    color: #ECF0F1;
}

.color-naranja-suave {
    color: #ffc86f;
}

.color-blanco {
    color: #F8F9FA;
}
